@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  margin: 0;
}
.opening {
  background-color: #8ea697;
}

h1 {
  color: white;
  padding-left: 0.5em;
  padding-top: 1em;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #ff9999;
}

.nav ul {
  list-style-type: none;
}

.nav li {
font-family: sans-serif;
padding-bottom: 5px;
}

.cupid-one {
  transform-origin: center center;
  animation: rocking 3s infinite;
}

@keyframes rocking {

  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}

.cupid-two {
  transform-origin: center center;
  animation: sway 3s infinite;
}

@keyframes sway {

  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0);
  }
}

.small-heart {
  transform-origin: center center;
  animation: beat 1s linear infinite;
}

@keyframes beat {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

svg {
  display: block;
  margin: 0 auto;
}

.valentines {
  opacity: 0;
  transition: all 200ms ease-in;
}

.womenwant {
  opacity: 0;
  transition: all 200ms ease-in;
}
.spend {
  opacity: 0;
  transition: all 200ms ease-in;
}
.ladiesandgents {
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-opacity {
  opacity: 1;
}

.is-hovered {
  fill: white;
}

.man-two {
  opacity: 0;
}

.man {
  opacity: 1;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
